<div class="container">
  <div style= "background:#ADD8E6 !important" class="jumbotron other-color">
    <h1>Rock, Paper, or Scissors?</h1>
  </div>
  <p class='lead'>Rock, paper, scissors is a timeless <em>riveting</em> game of luck and strength. Choose your weapon and see if you'll come out victorious or meet your demise:</p>
</div>

<form action="/rock_paper_scissors">
  <div class="form-group">
    <label for="player1">Player One: Choose your weapon!</label>
      <input id="player1" name="player1" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="player2">Player Two: Choose your weapon!</label>
        <input id="player2" name="player2" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-danger btn-lg">Fight!</button>
</form>
